<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
    <form action='/signup' method = 'POST'>
        <h3>Email Address*</h3>
        <div>
            <input type='email' name='email' required>
        </div>

        <h3>Password*</h3>
        <div>
            <input type='password' name='password' minlength="5" required>
        </div>

        <h3>Username</h3>
        <div>
            <input type='textarea' name='username' required>
        </div>

        <h3>Bio (Optional)</h3>
        <div>
            <input type="textarea" name='bio'>
        </div>

        <div>
            <input type="submit">
        </div>
    </form> 
    <br>
    <a href='/'><button>Signin</button></a>
</body>
</html>