<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action='/' method = 'POST'>
        <h3>Email Address*</h3>
        <div>
            <input type='email' name='email' required>
        </div>

        <h3>Password*</h3>
        <div>
            <input type='password' name='password' required>
        </div>

        <div>
            <input type="submit">
        </div>  
    </form>
    <h3> Dont have an account? Signup! </h3>
    <a href='/signup'><button>Signup</button></a>
</body>
</html>